<footer class="site-footer" id="sosial">
  <div class="in-footer">
    <h2>Apa Ini ?</h2>
    <p>Hanya sebuah halaman static responsive yang digunakan untuk menuliskan tentang
    biodata penulis serta sejarah lahir dan pendidikan si penulis. tidak lebih </p>

  </div>
  <div class="in-footer">

    <a class="sosmed" href="https://www.facebook.com/profile.php?id=100000053417164" target="_blank"></a>
    <a class="sosmed" href="https://twitter.com/bendy02"target="_blank"></a>
    <a class="sosmed" href="https://www.instagram.com/bendy22/"target="_blank"></a>
    <a class="sosmed" href="https://soundcloud.com/iwan-effendy"target="_blank"></a>
  </div>
        <!-- {{ site.email }} -->
</footer>
