---
layout: default
---
<div class="post">
  <div class="deskripsi">
    <h1>{{ page.title }}</h1>
    <p ><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </div>

  {% if page.image %}
  <img src="/img/{{page.image}}" alt="">
  {% endif %}
  <div class="post-content" itemprop="articleBody">
      {{ content }}
  </div>
{% include disqus.html disqus_identifier=page.disqus_identifier %}
</div>
